
<!-- this is the main HTML of the website -->
<!DOCTYPE html>
<html>
  <head>
    <title>BlogProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigationbar" %>
    <%= render "layouts/messages"%>
    <div class = "container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <!-- render here the debugging info if we are in development environment -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
